<div class="divTableRow">
    <div class="divTableCell">{{item_id}}</div>
    <div class="divTableCell" contenteditable="true">{{menu_item}}</div>
    <div class="divTableCell" contenteditable="true">{{description}}</div>
    <div class="divTableCell" contenteditable="true">{{price}}&nbsp;$</div>
    <div class="divTableCell" contenteditable="true">{{quantity}}</div>
    <div class="divTableCell"><i class="fa fa-refresh" aria-hidden="true" type="button"></i></div>
    <div class="divTableCell"><i class="fa fa-trash delete-item" aria-hidden="true" type="button"
            data-id="{{item_id}}"></i></div>
</div>