<li>

    <div class="page__toggle">
        <label class="toggle">
            <input class="toggle__input" type="checkbox" name="option" data-id="{{this.item_id}}"
                data-state="{{purchase}}">
            <span class="toggle__label">
                <span class="toggle__text">{{item_id}}. {{menu_item}} - {{price}} - {{category}} $</span>
            </span>
        </label>
    </div>
</li>