<li>
    {{id}} - {{menu_item}} - {{price}} - {{category}}
    <input class="purchase" type="checkbox" data-id="{{this.id}}" data-state="{{purchase}}" id="purchaseCheckbox"
        value="true">
    <label class="form-check-label" for="inlineCheckbox1"></label>
</li>