<li>
    {{item_id}} - {{menu_item}} - {{price}} - {{category}}
    <button class="btn btn-primary" type="reset" name="undo" value="Undo" data-id="{{this.item_id}}"
        data-state="{{purchase}}" id="undoPurchase">Undo
</li>